
.card{
    height: 45vh;
    background-color: wheat;
}


.leftColumn,.rightColumn {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height:100%;
    vertical-align: top;
    position: relative;
}
.leftColumn{
    margin: 2%;
    width:46%;
}

.leftColumn p {
    font-size: 2rem;
    margin: 2% 2% 2% 0%;
}

.leftColumn p a {
    font-size: .75rem;
}

.saveButton{
    margin-top: 5%; 
}