
.card{
    height: 45vh;
    background-color: wheat;
}

.store-instructions{
    margin: 2% 0%;
    text-align: center;
    font-size: 1.5rem;
}

.leftColumn,.rightColumn {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height:100%;
    vertical-align: top;
    position: relative;
}
.leftColumn{
    margin: 1% 2% 2% 2%;
    width:46%;

}

.leftColumn p {
    font-size: 1.75rem;
    margin: 1% 2% 2% 0%;
}

.leftColumn p a {
    font-size: .75rem;
}
#city-name{
    font-size:2.5rem;
}

.saveButton{
    position: absolute; 
    width:40%;
    bottom:10%;
}
.loadButton, .goToSavedButton{
    margin: 5% auto;
    display: block;
    width:20%;
}

.activityMatches{
    color:green;
    cursor: pointer;
}

.cityWikipediaDescription{
    display: block;
    height:46%;
    width:95%;
    overflow:auto;
    padding: 3%;
    background-color: peru;
    border: 2px inset brown;
}

.leftColumn > p {
    display: inline;
}

.weather {
    display: flex;
    float: right;
}
.weather > div{
    align-self: center;
}

.housingLink{
    position: absolute;
    bottom: 10%;
    right: 0%;
}

.slide-enter {
    transform: translateX(-100%);
    transition: .5s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter.slide-enter-active {
    transform: translateX(0%);
  }

.slide-leave {
    transform: translateX(0%);
    transition: .5s ease-in-out;
}

.slide-leave.slide-leave-active {
    transform: translateX(-100%);
}

.imageContainer{
    position: relative;
}
.imageContainer img{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
}