
.homeContainer{
    margin: 0 5%;
}

.container{
    background-color: beige;
    overflow: auto;
}
.backgroundContainer{
    background-position:center;
}

select {
    display: block;
}

.title{
    margin-top:0;
    font-size: 4rem;
}

.stateSelectInput,.activityNameInput, .storeSelectInput{
    position: relative;
    width:75%;
    left:50%;
    transform: translateX(-50%);
    margin-bottom: 5%;

}
.stateSelectLabel, .activitySelectLabel, .storeSelectLabel {
    display: block;
    text-align: center;
}

.submitButton{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.navColor{
    background-color: forestgreen;
}