.storeNameTitle{
    font-size: 2.5rem;
    margin: 0% 2% 2% 2%;
}

.leftColumn div:nth-child(2),.leftColumn div:nth-child(3),.leftColumn div:nth-child(4){
    margin: 0% 2% 0% 2%;
    font-size: 1.75rem;
}

.imageContainer{
    height: 100%;
    width:100%;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.imageContainer img{
    height: auto;
    width: 119%;
    float: right;
}

.selectButton{
    margin-top: 5%;
}